.container {
    font-family: Rye;
    margin-top: 6%;

}

.ant-table-cell {
    color:white;
}

.ant-spin-container:hover {
    color:black;
}


body{background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden;
    background-image: url('https://cdn.wallpapersafari.com/34/91/9hdRrW.jpg');
}
table{
    background-image: url('https://cdn.statically.io/img/www.99images.com/photos/wallpapers/technology/samsung-galaxy-a80android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-qwnaf.jpg?v=1578112863');
}

.ant-table-cell:hover{
    color: rgb(17, 17, 17);
}

.ant-table-pagination.ant-pagination {
    opacity:0;
}










@media (min-width: 768px) {
.container, .container-md, .container-sm {
    max-width: 720px;
}}
@media (min-width: 576px){
.container, .container-sm {
    max-width: 540px;
}}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
